---
import type { GetStaticPaths } from "astro";
import Page from "@/comp/Page.astro";
import { getCollection, getEntry } from "astro:content";
import BlogImage from "@/comp/BlogImage.astro";

export const getStaticPaths: GetStaticPaths = async () => {
    const collection = await getCollection("blog");

    return collection.map(({slug}) => ({
        params: {slug},
        props: {}
    }));
};

const slug = Astro.params.slug as string;
const entry = await getEntry({collection: "blog", slug});
if(!entry) throw 404;

const {Content} = await entry.render();

---

<Page title={`${entry.data.title} — Tobias' Blog`}>
    <a id="back" href="/blog/" class="px-6 pt-6 block text-blue font-semibold text-xl expanded">← Blog</a>
    {entry.data.hero && (
        <div class="sm:px-6 mb-6">
            <BlogImage
                src={entry.data.hero}
                alt=""
                class="sm:rounded-2xl"
            />
        </div>
    )}
    <article class="px-6 pb-6 text-lg dark:text-black/80">
        <h1 class="font-bold text-4xl expanded mb-12 text-black">{entry.data.title}</h1>
        <Content/>
    </article>
</Page>

<style is:global>
    article h2 {
        @apply text-black expanded font-semibold text-3xl mt-12 mb-10;
    }

    article h3 {
        @apply text-black expanded font-semibold text-2xl my-8;
    }

    article h4 {
        @apply dark:text-black/90 font-medium text-xl mt-8 expanded;
    }

    article h4 {
        @apply text-black
    }

    article ul, p, ol, blockquote, pre, img, h1, h5, h6 {
        @apply mt-6;
    }

    article ul, ol {
        @apply pl-8;
    }

    article ul {
        @apply list-disc;
    }

    article ol {
        @apply list-decimal;
    }

    article li {
        @apply list-item;
    }

    article blockquote {
        @apply relative pl-4 text-black/70;
    }

    article blockquote::before {
        content: "";
        @apply rounded-full block w-1 min-h-full bg-gradient-to-t from-blue to-[#0ff] absolute left-0 top-0;
    }

    article pre {
        @apply text-base p-4 rounded-2xl;
    }

    article code:not(pre code) {
        @apply inline-block bg-black/10 px-1 rounded-lg;
    }

    article img {
        @apply rounded-2xl;
    }
</style>

<script>
    document.querySelector<HTMLAnchorElement>("#back")!.onclick = e => {
        e.preventDefault();
        history.back();
    }
</script>