---
import {getEntry} from "astro:content";
import BlogImage from "./BlogImage.astro";
import Page from "./Page.astro";
import {TAG_TO_SLUG} from "@/global";
import DateTime from "./DateTime.astro";

interface Props {
    slug: string,
}

const entry = await getEntry("posts", Astro.props.slug);

if(!entry) throw 404;

const {Content} = await entry.render();
---

<Page title={`${entry.data.title} | Tobias Hillemanns Blog`} description={entry.data.description}>
    <article class="px-6 pb-6 text-xl max-w-full leading-relaxed">
        {entry.data.hero && (
            <div class="max-sm:-mx-6">
                <BlogImage
                    src={entry.data.hero}
                    alt=""
                    id="hero"
                    loading="eager"
                    class="max-sm:rounded-none"
                />
            </div>
        )}
        <h1 class="font-bold text-5xl expanded tracking-tight mt-12 mb-6 text-black break-words">{entry.data.title}</h1>
        <div class="text-black/70 mb-12 text-base">
            {entry.data.pubUnix
                ?
                <DateTime date={entry.data.pubUnix}/>
                : "Status: Still in development"
            }
            <span class="w-4 inline-block"></span>
            {entry.data.tags.map(tag => (
                <a href={`/${TAG_TO_SLUG[tag]}/`} class="!text-white bg-blue !no-underline rounded-full px-3 inline-block mr-2">#{tag}</a>
            ))}
        </div>
        <p class="text-2xl">
            {entry.data.description}
        </p>
        <Content/>
    </article>
    <section class="py-6 mx-6 mt-12 border-t border-black/10">Here (someday) there will be recommendations</section>
</Page>