---
import { TAGS, toPascalCase } from '@/server-util';
import Footer from './Footer.astro';
import HeaderLink from './HeaderLink.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
    imagePreloadList?: string[],
    wide?: boolean,
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title = "Tobias Hillemanns",
    description = "This is my personal portfolio website.",
    image,
    imagePreloadList = [],
    wide = false,
} = Astro.props;

// →
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
        <link rel="icon" type="image/webp" href="/favicon.webp" />
        
        {imagePreloadList.map(href => (
            <link rel="preload" as="image" href={href}/>
        ))}
        
        <link rel="canonical" href={canonicalURL} />
        
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="color-scheme" content="dark light" />
        <meta name="generator" content={Astro.generator} />
        <meta name="mobile-web-app-capable" content="yes">

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        {image && <meta property="og:image" content={new URL(image, Astro.url)} />}

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        {image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}
        
        <style is:global>
            button {
                touch-action: manipulation;
            }

            body {
                --white: 255 255 255;
                --black: 0 0 0;
                --blue: 0 119 255;
            }

            @media (prefers-color-scheme: dark) {
                body {
                    --white: 0 0 0;
                    --black: 255 255 255;
                    --blue: 120 140 255;
                }
            }
        </style>

        <link rel="alternate" type="application/rss+xml" title="Tobias Hillemanns Feed" href="/rss.xml" />
        <meta name="google-site-verification" content="8GlhjUIL8_h8hCmqFXeJgTTV5B6svTQo0SPkQX8iVA8" />
    </head>
    <body class="text-black bg-white flex min-h-screen selection:bg-black selection:text-white transition-[background] duration-1000">
        <aside class="max-sm:contents w-60 flex flex-col sticky top-0 h-screen shrink-0">
            <header class="sm:block hidden max-sm:fixed max-sm:top-0 max-sm:left-0 max-sm:w-screen max-sm:h-screen p-6 pt-12 max-sm:bg-white/50 max-sm:backdrop-blur-2xl max-sm:backdrop-saturate-200 max-sm:text-3xl max-sm:*:mb-3 expanded text-xl z-40" id="menu">
                <HeaderLink href="/">Home</HeaderLink>
                {TAGS.map(tag => (
                    <HeaderLink href={`/${tag}/`}>{toPascalCase(tag)}</HeaderLink>
                ))}
                <HeaderLink href="/posts/">All Posts</HeaderLink>
            </header>
            <Footer class="max-sm:hidden p-6"/>
        </aside>
        <button name="Toggle Menu" title="Toggle Menu" id="menu-toggle" class="fixed sm:hidden right-0 top-0 block p-1 m-4 bg-white/20 backdrop-blur-xl rounded-xl z-50">
            <svg viewBox="0 0 32 32" width="32" height="32" class="fill-black">
                <path d="M6 9q-1 0-1-1t1-1h20q1 0 1 1t-1 1zM6 17q-1 0-1-1t1-1h20q1 0 1 1t-1 1zM6 25q-1 0-1-1t1-1h20q1 0 1 1t-1 1z"/>
            </svg>
        </button>
        <main class={`w-full mx-auto flex flex-col ${wide ? "" : "max-w-screen-sm"}`}>
            <slot/>
            <Footer class={"sm:hidden p-6"}/>
        </main>
    </body>
</html>

<script>
    const menuButton = document.querySelector<HTMLButtonElement>("#menu-toggle")!;
    const menu = document.querySelector<HTMLDivElement>("#menu")!;

    menuButton.onclick = () => {
        menu.classList.toggle("hidden");
    };
</script>