---
import Footer from "./Footer.tsx";
import Menu from "./Menu.tsx";
import "../theme.css";

interface Props {
    title?: string,
    wide?: boolean,
    description?: string,
    preloadImageURLs?: string[]
}

const {
    title = "Tobias Hillemanns",
    wide = false,
    description = "Anything is here, even nothing.",
    preloadImageURLs = [],
} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/fi.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>

    <link rel="preload" href="/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="/fonts/InterVariable-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    {preloadImageURLs.map(url =>
        <link rel="preload" href={url} as="image" type="image/avif"/>)}

    <meta name="description" content={description}/>

    <script is:inline>
        MathJax = {
            tex: {
                inlineMath: [["$", "$"], ["\\(", "\\)"]],
            },
        };
    </script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.min.js"/>

    <title>{title}</title>
</head>
<body class="bg-white text-black flex flex-col items-center min-h-screen selection:bg-blue selection:text-white">
<!-- <Header pathname={Astro.url.pathname} client:load/> -->
<Menu client:load/>
<main class={`${wide ? "" : "max-w-screen-sm"} w-full mt-12`}>
    <slot/>
</main>
<Footer/>
</body>
</html>