---
import {type Slug, SLUG_TO_TAG, TAG_TO_MULTIPLE} from "../server-util";
import { getAllPosts } from "@/server-util";
import Page from "./Page.astro";
import {Image} from "astro:assets";

interface Props {
    onlyWithTag?: Slug
}

const maybeSlug = Astro.props.onlyWithTag;

const cas = maybeSlug
    ? TAG_TO_MULTIPLE[SLUG_TO_TAG[maybeSlug]]
    : "All Posts";

const posts = await getAllPosts(
    !import.meta.env.DEV,
    maybeSlug && SLUG_TO_TAG[maybeSlug]
);

posts.sort((a, b) =>
    (a.data.pubUnix?.valueOf() || 0) - (b.data.pubUnix?.valueOf() || 0));
---

<Page title={`${cas} — Tobias Hillemanns`} wide={true}>
    <h1 class="px-6 pt-12 font-bold text-3xl expanded">
        {cas}
    </h1>
    <div class="px-3 mt-6 grid gap-3 [grid-template-columns:repeat(auto-fit,minmax(300px,1fr))]">
        {posts.map(post => (
            <a href={`/${post.slug}/`} class="p-3 pb-6 hover:bg-black/5 rounded-3xl transition active:bg-black/10">
                {post.data.hero && (
                    <Image
                        src={post.data.hero}
                        alt=""
                        widths={[400 / 4, 400 / 2, 400, 400 * 2]}
                        class={"rounded-2xl mb-3"}
                    />
                )}
                <div class="text-black/70">
                    {post.data.pubUnix?.toLocaleDateString()}
                    {post.data.tags.map(tag => (
                        <span class="bg-black/10 px-2 rounded-full ml-2">{tag}</span>
                    ))}
                </div>
                <div class="text-2xl expanded font-semibold">
                    {post.data.title}
                </div>
            </a>
        ))}
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</Page>