---
import Footer from './Footer.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title = "Tobias Hillemanns",
    description = "This is my personal portfolio website where display all kinds of stuff.",
    image
} = Astro.props;

/*
    <!-- Font preloads -->
    <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />
*/
---

<html lang="en">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <link rel="icon" type="image/webp" href="/favicon.webp" />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        {image && <meta property="og:image" content={new URL(image, Astro.url)} />}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        {image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}
        
        <style is:global>
            .expanded {
                font-stretch: expanded;
            }
        </style>

        <title>Document</title>
    </head>
    <body class="flex min-h-screen selection:bg-black/80 selection:text-white overflow-x-hidden">
        <aside class="max-md:hidden w-60 flex flex-col sticky top-0 h-screen p-6">
            <a href="/" class="text-blue hover:bg-blue/10 rounded-xl py-1 px-3 font-semibold">→ Home</a>
            <Footer/>
        </aside>
        <main class="w-full max-w-screen-sm mx-auto">
            <slot/>
            <Footer class={"md:hidden p-6"}/>
        </main>
    </body>
</html>